@sideBarWidth: 250px;
@containerWidth: 90%;
@appTopHeight: 80px;
@appTopPaddingLeft: 40px;

@appPrimaryColor: white;
@appSecondaryColor: #ccc;


* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #354854; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #354854 , #1e2931); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #354854 , #1e2931); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: 0 auto;
  width: @containerWidth;
}

.wrapper {
  padding-left: @sideBarWidth;
}
