.appBar {
    height: 80px;
    margin: 0 auto;
    width: 80%;
    padding-left: 40px;

    &__label {
        color: white;
        line-height: 80px;
        vertical-align: middle;
        font-size: 25px;
    }
}
